$basic-black: #000000;
$basic-black-transparency5: rgba(0, 0, 0, 0.5);
$basic-white: #ffffff;
$font-family-header: "Roboto Condensed", "Arial", sans-serif;
$font-family-text: "PT Mono", "Lucida Console", monospace;
$tablet-width: 1023px;
$mobile-width: 767px;
