$basic-black: #000000;
$basic-black-transparency5: rgba(0, 0, 0, 0.5);
$basic-black-transparency25: rgba(0, 0, 0, 0.25);
$basic-white: #ffffff;
$basic-white-transparency15: rgba(255, 255, 255, 0.15);
$basic-white-transparency75: rgba(255, 255, 255, 0.75);
$special-brown-light: #f6f5f4;
$special-brown: #a87b62;
$special-brown-middle: #f0eae4;
$special-brown-transparency70:rgba(86, 64, 52, 0.7);
$special-gray-dark: #1d1613;
$special-gray-light: #9b9997;
$font-family-header: "Cormorant Garamond", "Times New Roman", serif;
$font-family-text: "Poppins", "Arial", sans-serif;
$tablet-width: 1023px;
$mobile-width: 767px;
