.banner-catalog {
  max-width: 1366px;
  height: 261px;
  margin: 0 auto;
  background: url("../img/catalog-banner@1x.jpg") $special-brown center center no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url("../img/catalog-banner@2x.jpg") $special-brown center center no-repeat;
    background-size: cover;
  }
}

.banner-catalog__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $special-brown-transparency70;
}

.banner-catalog__wrapper h1 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  color: $basic-white;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.banner-catalog__wrapper span {
  font-family: $font-family-header;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: $basic-white;
  margin: 0;
  padding: 0 0 5px 3px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 5px 12px 0 12px;
    line-height: 120%;
    text-align: center;
  }
}
