.banner {
  max-width: 1366px;
  height: 463px;
  margin: 0 auto 118px auto;
  background: url("../img/main-banner@1x.jpg") $special-brown center center no-repeat;
  background-size: cover;
  filter: drop-shadow(0 4px 4px $basic-black-transparency25);

  @media (min-resolution: 2dppx) {
    background: url("../img/main-banner@2x.jpg") $special-brown center center no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    background-size: 1200%;
    margin: 0 auto 71px auto;
  }

  @media (max-width: $tablet-width) and (min-resolution: 2dppx) {
    background-size: 120%;
  }


  @media (max-width: $mobile-width) {
    background: url(../img/main-banner@1x.jpg) #a87b62 47% 83% no-repeat;
    background-size: 230%;
    margin: 0 auto 60px auto;
  }

  @media (max-width: $mobile-width) and (min-resolution: 2dppx) {
    background: url(../img/main-banner@2x.jpg) #a87b62 47% 83% no-repeat;
    background-size: 230%;
  }
}

.banner__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $special-brown-transparency70;
}

.banner__wrapper h1 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 110%;
  letter-spacing: 0.03em;
  color: $basic-white;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding: 7px 17px 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    font-size: 38px;
    line-height: 100%;
  }
}

.banner__wrapper span {
  font-family: $font-family-header;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 130%;
  color: $basic-white;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding: 0 20px 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    font-size: 34px;
    line-height: 100%;
  }
}
