.blog {
  width: 100%;
}

.blog__wrapper {
  max-width: 1230px;
  padding: 189px 0 121px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding: 129px 0 72px;
  }

  @media (max-width: $mobile-width) {
    padding: 54px 0 60px;
  }
}

.blog__wrapper h2 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  color: $special-gray-dark;
  margin: 0;
  padding-bottom: 19px;
}

.blog__wrapper a {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $special-gray-dark;
  text-decoration: none;
  border-bottom: 1px solid $special-brown;
  margin-bottom: 56px;
  padding-bottom: 5px;

  @media (max-width: $mobile-width) {
    margin-bottom: 47px;
  }

  &:hover {
    border-bottom: 1px solid $special-brown-dark;
    color: $special-brown-dark;
  }

  &:focus {
    border-bottom: 1px solid $special-brown-dark;
    color: $special-brown-dark;
    opacity: 0.6;
  }
}

.blog__list {
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: calc(50% - 45px) calc(50% - 45px);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-top: 3px;
  margin: 0 30px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 678px;
    grid-template-rows: auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 0;
    margin: 0 45px;
    grid-auto-flow: row;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 290px;
    grid-template-rows: auto auto auto;
    grid-row-gap: 40px;
    grid-column-gap: 0;
    margin: 0 15px;
    grid-auto-flow: row;
  }
}

.blog__item {
  width: 100%;
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.blog__item:nth-child(3n) {
  position: relative;
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;

  @media (max-width: $tablet-width) {
    grid-row: auto;
    grid-column: auto;
    order: 3;
  }
}

.blog__item img,
.blog__item picture {
  width: 285px;
  height: 300px;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    width: 339px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 256px;
  }
}

.blog__item:nth-child(3n-1) picture,
.blog__item:nth-child(3n-1) img {
  order: 2;

  @media (max-width: $mobile-width) {
    order: 1;
  }
}

.blog__item:nth-child(3n) img {
  width: 570px;
  height: 630px;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    width: 339px;
    height: 300px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 256px;
  }
}

.blog__info {
  width: 165px;
  min-height: 163px;
  height: auto;
  background: $special-brown-middle;
  text-align: center;
  padding: 69px 60px;

  @media (max-width: $tablet-width) {
    width: 219px;
    height: auto;
    padding: 69px 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    width: 170px;
    padding: 46px 60px 46px 60px;
    height: auto;
  }
}

.blog__item:nth-child(3n - 1) .blog__info {
  order: 1;
}

.blog__item:nth-child(3n) .blog__info {
  position: absolute;
  bottom: 1px;
  right: 0;
  min-height: 162px;

  @media (max-width: $tablet-width) {
    position: relative;
    height: auto;
  }

  @media (max-width: $mobile-width) {
    min-height: 164px;
  }
}

.blog__info p {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $special-gray-light;
  margin: 0;
}

.blog__info h3 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: $basic-black;
  margin: 13px 0 37px 0;
}

.blog__info a {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $special-gray-dark;
  text-decoration: none;
  border-bottom: 1px solid $special-brown;
  margin-bottom: 0;

  &:hover {
    border-bottom: 1px solid $special-brown-dark;
    color: $special-brown-dark;
  }

  &:focus {
    border-bottom: 1px solid $special-brown-dark;
    color: $special-brown-dark;
    opacity: 0.6;
  }
}
