.catalog {
  width: 100%;
}

.catalog__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 30px 35px;
  display: flex;

  @media (max-width: $tablet-width) {
    padding: 50px 45px 37px 45px;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    padding: 40px 15px 16px 15px;
  }
}

.catalog__filter-button {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    width: 100%;
    height: 68px;
    background: $special-brown;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: $font-family-text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $basic-white;
    margin-bottom: 50px;
    cursor: pointer;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }

  &--nojs {
    display: none;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 37px;
  grid-column-gap: 30px;
  margin-left: 50px;
  width: 75%;

  @media (max-width: $tablet-width) {
    grid-template-columns: 30.5% 30.5% 30.5%;
    margin: 0 auto;
    width: 100%;
    grid-column-gap: 4.25%;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 44.5% 44.5%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 26px;
    grid-column-gap: 11%;
  }
}

.catalog__item {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
}

.catalog__item img,
.catalog__item picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__item a {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $special-gray-dark;
  margin: 21px 0 0 5px;
  text-decoration: none;

  @media (max-width: $mobile-width) {
    margin: 12px 0 0;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    opacity: 0.6;
  }
}

.catalog__item span {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: $special-gray-dark;
  display: block;
  width: 100%;
  margin: 6px 0 0 0;
}


.catalog__pagination {
  width: 100%;
  border-top: 1px solid $special-brown-light;

  @media (max-width: $mobile-width) {
    border: none;
  }
}

.catalog__pagination-wrap {
  max-width: 1230px;
  margin: 22px auto 58px auto;

  @media (max-width: $mobile-width) {
    margin: 11px auto 49px;
  }
}

.catalog__pagination-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 330px;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    margin: 0 45px 0 45px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 15px 0 15px;
    justify-content: center;
  }
}

.catalog__pagination-list {
  list-style: none;
  display: flex;
  padding: 0 35px 0 0;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.catalog__pagination-nav-item {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $special-gray-dark;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.catalog__pagination-nav-link {
  color: $special-gray-dark;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }
}

.catalog__pagination-item {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $special-gray-dark;
  padding: 0 6px 0 7px;

  @media (max-width: $mobile-width) {
    padding: 0 11px 0 11px;
  }
}

.catalog__pagination-link {
  text-decoration: none;
  color: $special-gray-light;

  &:hover {
    color: $special-gray-dark;
  }

  &:focus {
    color: $special-gray-dark;
    opacity: 0.6;
  }
}
