.faq {
  width: 100%;
}

.faq__wrapper {
  max-width: 970px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }
}

.faq__wrapper h2 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $special-gray-dark;
  margin: 0;
  text-align: center;
}

.faq__list {
  margin: 48px 0 100px;
  list-style: none;
  padding: 0;
  border: 1px $special-brown solid;

  @media (max-width: $tablet-width) {
    margin: 49px 45px 62px 45px;
  }

  @media (max-width: $mobile-width) {
    margin: 28px 15px 51px 15px;
  }
}

.faq__item {
  padding: 42px 0 43px 43px;
  border-bottom: 1px $special-brown solid;
  cursor: pointer;
  position: relative;

  @media (max-width: $tablet-width) {
    padding: 43px 0 44px 48px;
  }

  @media (max-width: $mobile-width) {
    padding: 16px 0 20px 23px;
  }
}

.faq__item a {
  position: absolute;
  content: url("../img/icon-arrow-bottom.svg");
  display: block;
  width: 17px;
  height: 10px;
  top: 50px;
  right: 48px;

  @media (max-width: $tablet-width) {
    width: 25px;
    height: 14px;
    top: 49px;
  }

  @media (max-width: $mobile-width) {
    width: 23px;
    height: 13px;
    top: 22px;
    right: 23px;
  }
}

.faq__item--open a {
  transform: rotate(180deg);
  top: 50px;

  @media (max-width: $tablet-width) {
    top: 48px;
  }

  @media (max-width: $mobile-width) {
    top: 22px;
  }
}

.faq__item:last-child {
  border-bottom: none;
}

.faq__item h3 {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $special-gray-dark;
  margin: 0;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 140%;
    padding: 0 60px 0 0;
  }
}

.faq__item p {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  padding: 9px 0 0 7px;
  margin: 0;
  color: $special-gray-dark;
  display: none;
  max-width: 520px;

  @media (max-width: $tablet-width) {
    padding: 27px 0 0 0;
    max-width: 530px;
  }

  @media (max-width: $mobile-width) {
    padding: 15px 60px 0 0;
    font-size: 14px;
    line-height: 143%;
  }
}

.faq__item--open p {
  display: block;
}
