.main-nav {
  width: 100%;
  border-top: 1px $special-brown-light solid;
  margin-top: 18px;
  padding-top: 16px;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    margin: 0;
    padding-top: 0;
    display: none;
    background-color: $special-brown;
    z-index: 1000;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }

  &--open {
    @media (max-width: $tablet-width) {
      display: block;
      position: fixed;
      height: 100%;
      overflow: scroll;
    }
  }

  &--nojs {
    @media (max-width: $tablet-width) {
      position: relative;
      display: block;
    }
  }
}

.main-nav__wrapper {
  width: 500px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $tablet-width) {
    width: calc(100% - 90px);
    margin: 0 45px;
    padding: 30px 0 75px 0;
  }

  @media (max-width: $mobile-width) {
    width: calc(100% - 30px);
    margin: 0 15px;
    padding: 10px 0 45px 0;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    stroke: $basic-white;
    position: absolute;
    display: block;
    width: 25px;
    height: 18px;
    fill: none;
    top: 0;
    left: 0;
    border: none;
    background-color: $special-brown;
    z-index: 3000;
  }

  @media (max-width: $mobile-width) {
    top: 37px;
    left: 15px;
  }

  &--nojs {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.main-nav__toggle svg {
  @media (max-width: $tablet-width) {
    fill: none;
    stroke: $basic-white;
    stroke-width: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-nav__logo {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 66px;
    height: 66px;
    margin: 0 auto 40px auto;
  }

  @media (max-width: $mobile-width) {
    display: block;
    width: 52px;
    height: 52px;
    margin: 10px auto 30px;
  }
}

.main-nav__cart {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    width: 18px;
    height: 16px;
    top: 55px;
    right: 0;
    stroke: $basic-white;
    fill: none;
  }

  @media (max-width: $mobile-width) {
    top: 38px;
    right: 3px;
  }
}

.main-nav__search {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: relative;
    width: 100%;
  }
}

.main-nav__search label {
  width: 100%;
  position: absolute;
  left: 13px;
  top: 11px;
}

.main-nav__search svg {
  @media (max-width: $tablet-width) {
    fill: $basic-white;
  }
}

.main-nav__search input {
  width: 100%;
  height: 40px;
  background-color: $basic-white-transparency15;
  color: $basic-white;
  border-radius: 21px;
  border: none;
}

.main-nav__list {
  list-style: none;
  margin: 0 -18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 0 18px 8px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 46px 0 10px;
  }

  @media (max-width: $mobile-width) {
    padding: 36px 0 10px;
  }
}

.main-nav__item {
  margin: 0 18px 0 17px;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 21px;
  }
}

.main-nav__link {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $special-gray-dark;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    color: $basic-white;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    opacity: 0.6;
  }
}

.main-nav__sublist {
  display: none;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 9px 0 10px 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 10px 0;
  }
}

.main-nav__subitem {
  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 19px;
  }
}

.main-nav__sublink {
  @media (max-width: $tablet-width) {
    font-family: $font-family-text;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    font-size: 18px;
    line-height: 130%;
    text-decoration: none;
    color: $basic-white-transparency75;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    opacity: 0.6;
  }
}

.main-nav__login {
  display: none;

  @media (max-width: $tablet-width) {
    font-family: $font-family-text;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: $basic-white;
    text-decoration: none;
    display: block;
    padding: 15px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 4px 0 0 0;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    opacity: 0.6;
  }
}
