.new-goods {
  width: 100%;
}

.new-goods__wrapper {
  max-width: 1230px;
  padding: 118px 0 0 0;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 71px 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 60px 0 0;
  }
}

.new-goods__list {
  list-style: none;

  &--nojs .new-goods__item:nth-child(4n) {
    margin-right: 0;
  }

  &--nojs {
    display: flex;
    flex-wrap: wrap;
  }

  &--nojs .new-goods__item {
    margin-bottom: 30px;
  }

  &--nojs .new-goods__item:nth-child(2n) {
    @media (max-width: $tablet-width) {
      margin-right: 0;
    }
  }
}

.new-goods__item {
  width: 270px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    width: calc(50% - 15px);
  }
}

.new-goods__item img {
  height: 284px;
  width: 270px;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    height: 340px;
    width: 324px;
  }

  @media (max-width: $mobile-width) {
    height: 136px;
    width: 130px;
  }
}

.new-goods__item a {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $special-gray-dark;
  text-align: center;
  margin-top: 14px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    opacity: 0.6;
  }
}

.new-goods__item span {
  width: 100%;
  display: block;
  text-align: center;
  font-family: $font-family-text;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: $special-gray-dark;
  margin-top: 7px;
}

.new-goods__pagination {
  display: none;

  @media (max-width: $mobile-width) {
    width: 100px;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 30px;
    font-family: $font-family-text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    letter-spacing: 0.1em;
    color: $special-gray-dark;
  }
}
