.page-footer {
  width: 100%;
  background-color: $basic-black;
}

.page-footer__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 90px 30px 70px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    padding: 50px 0 31px 0;
    width: calc(100% - 90px);
    margin: 0 45px;
  }

  @media (max-width: $mobile-width) {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

.page-footer__send-mail {
  width: 43%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.page-footer__header {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $basic-white;
  margin: 0;
  padding-bottom: 10px;


  @media (max-width: $mobile-width) {
    padding-bottom: 14px;
  }
}

.page-footer__text {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: $special-gray-light;
  margin: 0;
}

.page-footer__input-mail {
  max-width: 500px;
  margin-top: 43px;
  position: relative;

  @media (max-width: $tablet-width) {
    max-width: 560px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
  }
}

.page-footer__input-mail label {
  width: 100%;
}

.page-footer__input-mail input {
  width: 100%;
  background-color: $basic-black;
  color: $basic-white;
  border: none;
  border-bottom: 1px solid $basic-white;
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 0 0 8px 0;
  outline: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 1;
  }
}

.page-footer__input-mail input::placeholder {
  width: 100%;
  background-color: $basic-black;
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $special-gray-light;

  &:hover {
    opacity: 0.6;
  }
}

.page-footer__input-mail button {
  background-color: $basic-black;
  border: none;
  color: $basic-white;
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }
}

.page-footer__input-mail span {
  padding: 0 5px 0 0;
}

.page-footer__input-mail svg {
  width: 30px;
  height: 11px;
  transform: rotate(180deg);
  stroke: $basic-white;
}
