.photo-insta {
  width: 100%;
}

.photo-insta__wrapper {
  max-width: 1230px;
  padding: 0 0 130px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: initial;

  @media (max-width: $tablet-width) {
    padding: 0 0 79px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 72px 0;
  }
}

.photo-insta__wrapper span {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  color: $special-gray-dark;
  letter-spacing: 0.03em;
}

.photo-insta__wrapper h2 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  color: $special-gray-dark;
  margin: 0;
  padding-bottom: 29px;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    padding-bottom: 17px;
  }
}

.photo-insta__wrapper a {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $special-gray-dark;
  text-decoration: none;
  border-bottom: 1px solid $special-brown;
  margin-bottom: 59px;
  padding-bottom: 5px;

  @media (max-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 45px;
  }

  &:hover {
    border-bottom: 1px solid $special-brown-dark;
    color: $special-brown-dark;
  }

  &:focus {
    border-bottom: 1px solid $special-brown-dark;
    color: $special-brown-dark;
    opacity: 0.6;
  }
}

.photo-insta__list {
  display: grid;
  grid-row-gap: 34px;
  grid-column-gap: 27px;
  grid-template-columns: 18.5% 32.5% 18.5% 18.5%;
  grid-template-rows: 230px 150px;
  grid-auto-flow: column;
  width: 100%;
  align-content: start;
  justify-content: center;
  padding: 0;
  margin: 0 30px;

  @media (max-width: $tablet-width) {
    grid-row-gap: 20px;
    grid-column-gap: 16px;
    grid-template-columns: 17.3% 30% 17.3% 17.3%;
    grid-template-rows: 133px 87px;
    grid-auto-flow: column;
    margin: 0 45px;
  }

  @media (max-width: $mobile-width) {
    grid-row-gap: 27px;
    grid-column-gap: 24px;
    grid-template-columns: 133px 133px;
    grid-template-rows: 133px 87px 87px;
    grid-auto-flow: row;
    margin: 0 15px;
  }
}

.photo-insta__item {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.photo-insta__item:nth-child(8n-5) {
  position: relative;
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

.photo-insta__item:nth-child(8n-4),
.photo-insta__item:nth-child(8n-2) {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.photo-insta__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }
}

.photo-insta__item img,
.photo-insta__item picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
