.social {
  width: 9.7%;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 32.5%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: $tablet-width) {
    margin: 40px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 16px 0 57px;
  }
}

.social__item {
  margin: 5px 0 15px;
  width: 100%;

  @media (max-width: $mobile-width) {
    width: auto;
    margin: 0 20px 0 0;
  }
}

.social__link {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $basic-white;
  text-decoration: none;
  position: relative;

  @media (max-width: $mobile-width) {
    width: 21px;
    height: 21px;
    display: block;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }
}

.social__link span {
  padding-left: 30px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.social__link svg {
  position: absolute;
  left: 0;
  top: 4px;

  @media (max-width: $mobile-width) {
    height: 21px;
    width: 21px;
  }
}

.social__link--fb svg {
  padding-left: 3px;

  @media (max-width: $mobile-width) {
    padding: 0;
    width: 12px;
  }
}

.social__link--pn svg {

  @media (max-width: $mobile-width) {
    padding-left: 10px;
  }
}

.social__link--tw svg {
  padding-left: 3px;

  @media (max-width: $mobile-width) {
    height: 18px;
    width: 20px;
    padding: 4px 0 0 20px;
  }
}
