.social {
  width: 9.7%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    width: 32.5%;
    margin: 40px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 22px 0 50px;
    flex-direction: row;
  }
}

.social__link {
  font-family: $font-family-text;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: $basic-white;
  text-decoration: none;
  position: relative;
  margin: 5px 0 21px;

  @media (max-width: $mobile-width) {
    width: 21px;
    height: 21px;
    display: block;
    margin: 0 20px 0 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.4;
  }
}

.social__link span {
  padding-left: 30px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.social__link svg {
  position: absolute;
  left: 0;
  top: 0;

  @media (max-width: $mobile-width) {
    height: 21px;
    width: 21px;
  }
}

.social__link--fb svg {
  padding-left: 3px;

  @media (max-width: $mobile-width) {
    padding: 0;
    width: 12px;
  }
}

.social__link--pn svg {
  @media (max-width: $mobile-width) {
    padding-left: 10px;
  }
}

.social__link--tw svg {
  padding-left: 3px;

  @media (max-width: $mobile-width) {
    height: 18px;
    width: 20px;
    padding: 4px 0 0 20px;
  }
}
